{% extends 'base.html' %}
{% load static %}
{% block content%}

    <div class="banner">
        <div class="banner__overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-lg-start">
                        <h1 class="global__title global__title-dark text-capitalize">Testimonials</h1>
                        <ul class="banner__ul">
                            <li class="banner__ul-list p-0">
                                <a class="banner__ul-link" href="index.html">
                                    home
                                </a>
                            </li>
                            <li class="banner__ul-list">
                                Testimonials
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="banner__element d-none d-lg-block">
                    <img src="assets/img/element-3.svg" alt="image">
                </div>
                <div class="banner__polygon d-none d-lg-block">
                    <img src="assets/img/polygon.svg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <!--  Banner END -->

    <!-- Testimonials START -->

    <div class="testimonial bg-white py-0">
        <div class="row bg-white m-0">
            <div class="col-12 col-md-9 col-lg-6 text-center m-auto">
                <h3 class="global__text">Testimonials</h3>
                <h2 class="global__heading">What people say's about us
                </h2>
            </div>
        </div>
        <div class="testimonial__body-bg">
            <div class="container p-sm-0">
                <div class="row px-3 px-sm-0">
                    <div class="testimonial__body-items">
                        <!-- Testimonial 01 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-up" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="global__desc testimonial__card-desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-1.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Priscilla Lucas</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 02 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-up" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-2.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Dianne Russell</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 03 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-up" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>

                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-2.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Dianne Russell</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 04 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-2.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Dianne Russell</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 05 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-1.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Priscilla Lucas</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 06 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-1.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Priscilla Lucas</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 07 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-left" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-2.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Dianne Russell</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 08 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-left" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-2.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Dianne Russell</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 09 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-left" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-1.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Priscilla Lucas</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 10 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-down" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-1.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Priscilla Lucas</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 11 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-down" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-2.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Dianne Russell</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 12 -->
                        <div class="">
                            <div class="testimonial__card" data-aos="fade-down" data-aos-duration="1000">
                                <div class="">
                                    <ul class="testimonial__card-ul">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <p class="testimonial__card-desc global__desc">Campoal is great for people to
                                        bring
                                        changes to what
                                        they believe in, it’s nice to see
                                        some good morals and common sense
                                        being acknowledge where modern governments etc fail.</p>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid" src="assets/img/client-1.png" alt="user">
                                        <div class="ps-2 ps-sm-3">
                                            <h5 class="testimonial__card-name">Priscilla Lucas</h5>
                                            <span class="testimonial__card-type">
                                                Founder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonials END -->

    <!-- Collection START -->

    <div class="collection">
        <div class="container p-sm-0">
            <div class="row">
                <div class="collection__list">
                    <div class="collection__list-items">
                        <div class="collection__list-icon">
                            <img class="collection__list-icon--img" src="assets/img/box.svg" alt="icon">
                        </div>
                        <p class="collection__text"><span class="num__counter">6500</span>+ Donation</p>
                    </div>
                    <div class="collection__list-items">
                        <div class="collection__list-icon">
                            <img class="collection__list-icon--img" src="assets/img/dollar-s.svg" alt="icon">
                        </div>
                        <p class="collection__text">$<span class="num__counter">60</span>k+ Found Raised</p>
                    </div>
                    <div class="collection__list-items">
                        <div class="collection__list-icon">
                            <img class="collection__list-icon--img" src="assets/img/hands.svg" alt="icon">
                        </div>
                        <p class="collection__text"><span class="num__counter">250</span>+ Volunteer</p>
                    </div>
                    <div class="collection__list-items">
                        <div class="collection__list-icon">
                            <img class="collection__list-icon--img" src="assets/img/donation-2.svg" alt="icon">
                        </div>
                        <p class="collection__text"><span class="num__counter">110</span>+ Project</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Collection END -->

    <!--  Blog START -->

    <div class="blog global__py">
        <div class="container p-sm-0">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-6 text-center m-auto" data-aos="fade-down" data-aos-duration="1000">
                    <h3 class="global__text">our blog</h3>
                    <h2 class="global__heading">Checkout latest news
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__body blog__body">
                    <div class="blog__body-slider">
                        <div class="card blog__card">
                            <a href="blog.html">
                                <img class="img-fluid w-100" src="assets/img/img-4.png" alt="image">
                            </a>
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="">
                                        <span class="blog__card-span">Donation</span>
                                    </div>
                                    <hr class="blog__card-line">
                                    <div class="">
                                        <span class="blog__card-span">October 25, 2023</span>
                                    </div>
                                </div>
                                <div class="">
                                    <a href="blog.html" class="blog__title">4 Steps to Take on Your Next
                                        Giving
                                        Tuesday</a>
                                    <p class="global__desc blog__desc">consectetur adipisicing elit,
                                        sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore et dolore
                                        magna aliqua. Ut enim ad minim
                                        veniam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card blog__card">
                            <a href="blog.html">
                                <img class="img-fluid w-100" src="assets/img/img-5.png" alt="image">
                            </a>
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="">
                                        <span class="blog__card-span">Donation</span>
                                    </div>
                                    <hr class="blog__card-line">
                                    <div class="">
                                        <span class="blog__card-span">October 25, 2023</span>
                                    </div>
                                </div>
                                <div class="">
                                    <a href="blog.html" class="blog__title">5 Creative Giving Tuesday
                                        Nonprofit
                                        Storytelling</a>
                                    <p class="global__desc blog__desc">consectetur adipisicing elit,
                                        sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore et dolore
                                        magna aliqua. Ut enim ad minim
                                        veniam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card blog__card">
                            <a href="blog.html">
                                <img class="img-fluid w-100" src="assets/img/img-6.png" alt="image">
                            </a>
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="">
                                        <span class="blog__card-span">Donation</span>
                                    </div>
                                    <hr class="blog__card-line">
                                    <div class="">
                                        <span class="blog__card-span">October 25, 2023</span>
                                    </div>
                                </div>
                                <div class="">
                                    <a href="blog.html" class="blog__title">Tips for Retaining Donors
                                        After Your
                                        Giving
                                        Campaign</a>
                                    <p class="global__desc blog__desc">consectetur adipisicing elit,
                                        sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore et dolore
                                        magna aliqua. Ut enim ad minim
                                        veniam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card blog__card">
                            <a href="blog.html">
                                <img class="img-fluid w-100" src="assets/img/img-5.png" alt="image">
                            </a>
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="">
                                        <span class="blog__card-span">Donation</span>
                                    </div>
                                    <hr class="blog__card-line">
                                    <div class="">
                                        <span class="blog__card-span">October 25, 2023</span>
                                    </div>
                                </div>
                                <div class="">
                                    <a href="blog.html" class="blog__title">5 Creative Giving Tuesday
                                        Nonprofit
                                        Storytelling</a>
                                    <p class="global__desc blog__desc">consectetur adipisicing elit,
                                        sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore et dolore
                                        magna aliqua. Ut enim ad minim
                                        veniam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card blog__card">
                            <a href="blog.html">
                                <img class="img-fluid w-100" src="assets/img/img-4.png" alt="image">
                            </a>
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="">
                                        <span class="blog__card-span">Donation</span>
                                    </div>
                                    <hr class="blog__card-line">
                                    <div class="">
                                        <span class="blog__card-span">October 25, 2023</span>
                                    </div>
                                </div>
                                <div class="">
                                    <a href="blog.html" class="blog__title">4 Steps to Take on Your Next
                                        Giving
                                        Tuesday</a>
                                    <p class="global__desc blog__desc">consectetur adipisicing elit,
                                        sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore et dolore
                                        magna aliqua. Ut enim ad minim
                                        veniam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Blog END -->

    <!--  Join_US START -->

    <div class="join">
        <div class="container p-sm-0">
            <div class="row">
                <div class="card join__card">
                    <img src="assets/img/BG-Element.png" class="img-fluid join__card-img" alt="image">
                    <div class="card-img-overlay join__card-layer">
                        <div class="col-11 col-md-7">
                            <h3 class="join__text global__text">Become a volenteer</h3>
                            <h2 class="join__heading global__heading">Join Your hand with us for a better life and
                                future
                            </h2>
                            <button class="join__card-layer--btn global__btn">Discover More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Join_US END -->

{% endblock %}